{% extends "layout.html" %}
{% block content %}

<h6>Copy and paste the URL link of the attraction on Tripadvisor you want to analyze:</h6>

{% from "_formhelpers.html" import render_field %}
<form method="post" action=''>

    <dl>
        <p>
            {{ render_field(form.search) }}
    </dl>
    </p><input name="urllink" class="btn btn-primary btn-lg" type=submit value="START ANALYZING">
</form>
<br>

{% for error in errors %}
<h4 class="errormsg">{{ error }}</h4>
{% endfor %}

<h6>Can't think of or come up with an attraction to analyze the reviews?</h6>
<p>Here are few examples of URL link you can copy and paste into the form above!</p>

<div class="bg-white py-3 mb-3">
    <p>Hong Kong Disneyland</p>
    <a href="https://www.tripadvisor.com/Attraction_Review-g294217-d543602-Reviews-Hong_Kong_Disneyland-Hong_Kong.html"
        target="_blank">https://www.tripadvisor.com/Attraction_Review-g294217-d543602-Reviews-Hong_Kong_Disneyland-Hong_Kong.html</a>
    <br><br>
    <p>Tokyo Skytree</p>
    <a href="https://www.tripadvisor.com/Attraction_Review-g14134337-d1872416-Reviews-Tokyo_Skytree-Oshiage_Sumida_Tokyo_Tokyo_Prefecture_Kanto.html"
        target="_blank">https://www.tripadvisor.com/Attraction_Review-g14134337-d1872416-Reviews-Tokyo_Skytree-Oshiage_Sumida_Tokyo_Tokyo_Prefecture_Kanto.html</a>
    <br><br>
    <p>Singapore Flyer</p>
    <a href="https://www.tripadvisor.com/Attraction_Review-g294265-d678639-Reviews-Singapore_Flyer-Singapore.html"
        target="_blank">https://www.tripadvisor.com/Attraction_Review-g294265-d678639-Reviews-Singapore_Flyer-Singapore.html</a>
</div>

<span>Please visit my <a href="https://www.morikaglobal.com" target="_blank">Portfolio site</a> or <a
        href="https://github.com/morikaglobal/newsdatasummary_app" target="_blank">my github </a> for the
    code of this app.</span><br><br>
<h6>About this app</h6>

<p><span>Previously I built a simple <a href="https://pythonnewsscraper.herokuapp.com/" target="_blank">News
            Scraper APP</a> on the web using <strong>Python</strong> to scrape</span><span>the latest news
        from a specific news site using <strong>Beautiful Soup</strong> and <strong>Flask</strong>.</span>
    <br><br>
    <span>This time, I built slightly more advanced version of the app to scrape news data from a news
        article</span><span> using <strong>Python</strong> package <strong>newspaper3k</strong>, then deployed the app using <strong>Flask</strong> and on
        <strong>heroku</strong>.</span>

    <br><br>

    <span>First of all, when the URL link form above captures the URL link of a news article,</span><span> the
        <strong>newspaper3k</strong> package will extract and parse the data of the article with its Natural Language Processing.</span><span>For form input
        handling and validation, I used <strong>WTForms</strong> and
        <strong>requests</strong> libraries to grab the URL link entered in the form.</span><span>
        Then, from the data extracted I extract following data to render on the first part of my result
        page:</span>
    <br><br>


    <strong>Title</strong><br>
    <strong>Published date</strong><br>
    <strong>Author</strong><br>
    <strong>Top image (source link)</strong>
    <br><br>

    <span>At the same time, using the full text of the article extracted,</span><span>my app also generates
        <strong>WordCloud</strong> for the news article.</span><span>The WordCloud on the result page will display the
        words that are the most frequent among the news text extracted.</span><span><strong>io</strong> library is used
        to keep the WordCloud image in memory and <strong>base64</strong> to convert the resulting bytes</span><span> to
        base64 in order to return the image as part of our HTML response and render the image.</span>
        <span>* Please note WordCloud is currently disabled due to image storage issue</span>
    <br><br>

    <span>Lastly <strong>newspaper3k</strong> can also run its simple natural language processing to extract keywords from the news and also produce the summary of the article text.</span><br><br>

    <strong>Keywords (WordCloud image)</strong><br>
    <strong>Summary</strong>
    <br><br>
    <span>Keywords(WorldCloud) image and the summary of the news text will be displayed as the second part
        of the result page.</span>

    <br><br>
</p>

{% endblock %}