{% extends "layout.html" %}
{% block content %}

<h6>Copy and paste the URL link of the attraction on Tripadvisor you want to analyze:</h6>

{% from "_formhelpers.html" import render_field %}
<form method="post" action=''>

    <dl>
        <p>
            {{ render_field(form.search) }}
    </dl>
    </p><input name="urllink" class="btn btn-primary btn-lg" type=submit value="START ANALYZING">
</form>
<br>

{% for error in errors %}
<h4 class="errormsg">{{ error }}</h4>
{% endfor %}

<h6>Can't think of or come up with an attraction to analyze the reviews?</h6>
<p>Here are few examples of URL link you can copy and paste into the form above!</p>

<div class="bg-white py-3 mb-3">
    <p>Ocean Park Hong Kong</p>
    <a href="https://www.tripadvisor.com/Attraction_Review-g294217-d317431-Reviews-Ocean_Park-Hong_Kong.html"
        target="_blank">https://www.tripadvisor.com/Attraction_Review-g294217-d317431-Reviews-Ocean_Park-Hong_Kong.html</a>
    <br><br>
    <p>Tokyo Skytree</p>
    <a href="https://www.tripadvisor.com/Attraction_Review-g14134337-d1872416-Reviews-Tokyo_Skytree-Oshiage_Sumida_Tokyo_Tokyo_Prefecture_Kanto.html"
        target="_blank">https://www.tripadvisor.com/Attraction_Review-g14134337-d1872416-Reviews-Tokyo_Skytree-Oshiage_Sumida_Tokyo_Tokyo_Prefecture_Kanto.html</a>
    <br><br>
    <p>Singapore Flyer</p>
    <a href="https://www.tripadvisor.com/Attraction_Review-g294265-d678639-Reviews-Singapore_Flyer-Singapore.html"
        target="_blank">https://www.tripadvisor.com/Attraction_Review-g294265-d678639-Reviews-Singapore_Flyer-Singapore.html</a>
</div>

<span>Please visit my <a href="https://www.morikaglobal.com" target="_blank">Portfolio site</a> or <a
        href="https://github.com/morikaglobal/ta_review_analyzer" target="_blank">my github </a> for the
    code of this app</span><br><br>
<h6>About this app</h6>

<p><span>Tripadvisor Review Analyzer App for tourist attractions using <strong>Python</strong> and
        <strong>selenium</strong></span>
    <span>to scrape and extract the latest reviews from an attraction on the Tripadvisor URL link the user enters on the
        app landing page,</span>
    <span>then the scraped review data are cleaned, processed and analyzed with Natural Language Processing toolkit
        <strong>NLTK</strong></span><span>and Sentiment Analysis is performed on the contents of the reviews.</span>
    <br><br>

    <span>First of all, when the URL link of an attraction on Tripadvisor is entered by the
        user,</span><span><strong>selenium</strong> will scrape the data for the latest 100 reviews written for the
        attraction on Tripadvisor page</span>
    <span>*(less than 100 reviews will be analyzed if the attraction is fairly new or unknown and has less than 100
        reviews written on its Tripadvisor page)</span>
    <span>then, using the Natural Language Toolkit python package <strong>NLTK</strong>
        <span>and its built-in <strong>Vader Sentiment Analyzer</strong>,
            classify the reviews written for the attraction as positive, negative or neutral using a lexicon of positive
            and negative words.</span>
        <br><br>
        <span>Once the reviews are classified, data processing is performed on positive and negative reviews data
            respectively,</span><span><strong>Tokenization</strong> to break down the review sentences into meaningful
            elements as tokens, lowercase texts and remove puctuations</span><span>then remove the words such as "the",
            "is", "what" and so on from the tokenized data that are irrelevant to text sentiment</span><span>and dont
            provide any valuable information which are <strong>stopwords</strong>.</span>
        <br><br>
        <span>The next step is, again with NLTK, get the most common words found in both positive and negative review
            groups</span>
        <span>and the following data is available and displayed as analyzed results on the results page:
        </span>
        <br><br>

        <strong>number of reviews classified as positive</strong><br>
        <strong>number of reviews classified as negative</strong><br>
        <strong>few samples of reviews classified as positive</strong><br>
        <strong>few samples of reviews classified as negative</strong><br>
        <strong>Most frequently used words and its frequency found in POSITIVE reviews</strong><br>
        <strong>Most frequently used words and its frequency found in NEGATIVE reviews</strong><br>
        <!-- <strong>Top 10 reviewer locations</strong> -->
        <br><br>

</p>

{% endblock %}