<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tripadvisor Review Analyzer</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class="container p-3 my-3">
        <div class="page-top px-4">
            <h4>Tripadvisor Review Analyzer</h4>
            <h5>Analyzed data on this page is for the attraction on the Tripadvisor link you have entered below:</h5>

            <h6><a href="{{ search_string }}" target="_blank">{{ search_string }}</a></h6>
            <br>

            <h5>According to the latest 100 reviews for the attraction:</h5>
            <h6><span class="resulttext">{{ no_of_positivereviews }}</span> reviews have been analyzed as POSITIVE reviews and<br>
            <span class="resulttext">{{ no_of_negativereviews }}</span> reviews have been analyzed as NEGATIVE reviews for the attraction<br>
            the rest of the reviews have been analyzed as NEUTRAL reviews.</h6>
            <br>
            <h5>Few samples of POSITIVE reviews for the attraction: </h5>

            {% for i in positive_samples %}
                <ul>
                    <h7>{{ i }}</h7>
                </ul>
            {% endfor %}
            <br>
            <h5>Few samples of NEGATIVE reviews for the attraction: </h5>

            {% for i in negative_samples %}
                <ul>
                    <h7>{{ i }}</h7>
                </ul>
            {% endfor %}
            <br>

            <h5>Most frequently used words and its frequency found in POSITIVE reviews: </h5>
            <br>
            {% for i in positive_top_words %}
                {% set item_1 = positive_top_words[loop.index-1] %}
                {% set item_2 = positive_top_words_freq[loop.index-1] %}
                <ul>
                    <h6>{{ item_1 }} : {{ item_2 }}</h6>
                </ul>

            {% endfor %}
            <br>
            <h5>Most frequently used words and its frequency found in NEGATIVE reviews: </h5>
            <br>
            {% for i in negative_top_words %}
                {% set item_1 = negative_top_words[loop.index-1] %}
                {% set item_2 = negative_top_words_freq[loop.index-1] %}
                <ul>
                    <h6>{{ item_1 }} : {{ item_2 }}</h6>
                </ul>

            {% endfor %}
            <br>
            
            <h5>Top 10 reviewer locations: </h5>
            <br>
            {% for i in reviewer_top_location %}
                {% set item_1 = reviewer_top_location[loop.index-1] %}
                {% set item_2 = reviewer_top_location_freq[loop.index-1] %}
                <ul>
                    <h6>{{ item_1 }} : {{ item_2 }}</h6>
                </ul>

            {% endfor %}
            <br>
            
            <span>Please visit my <a href="https://www.morikaglobal.com" target="_blank">Portfolio site</a> or <a
                    href="https://github.com/morikaglobal/ta_review_analyzer_heroku" target="_blank">my github </a> for the
                code of this app.</span>

        </div>

    </div>

</body>

</html>
